body {
    background-color: antiquewhite;
    background-image: url(../resources/open_books.jpg);
}

nav{
    margin-bottom: 0;
}

.navbar {
    background-color: #fffcf9;
    margin-bottom: 1%;
    -webkit-box-shadow: 0 10px 6px -6px #1c1b1b;
    -moz-box-shadow: 0 10px 6px -6px #1c1b1b;
    box-shadow: 0 10px 6px -6px #1c1b1b;
}

#myNavbar li a {
    color: black;
}
#myNavbar li a:hover {
    color: white;
    background-color: #b79b84;
    text-decoration: underline;
}

.content {
    font-family: serif;
    font-size: 1.25em;
    background-color: #fffcf9;
    width: 60%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2em;
    color: black;
    margin-bottom: 1%;
    -webkit-box-shadow: 0 15px 6px -4px #1c1b1b
    -moz-box-shadow: 0 15px 6px -4px #1c1b1b;
    box-shadow: 0 15px 6px -4px #1c1b1b;
}

.content a {
    color: #773c20;
}

#footer {
    color: black;
    text-align: center;
}

.topic {
    margin: 20px;
}

.reply {
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    margin-top:2em;
}

.logo {
    vertical-align: text-top;
    margin-left: 20px;
    margin-right: 10px;
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.logo-large {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #b79b84;
}

.title {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.thread_info {
    display: inline-block;
}

.date {
    display: inline-block;
    padding-top: 1em;
    float: right;
}

.register {
    text-align: center;
}
